
// Imagen banner principal size //   

.banner-principal__img
  img
    width: 433px
    margin: 0 auto
// Imagen banner principal size //   
//-----------------------------------------------------------//
// Colores para span //
span.b
  &--1
    color: $color-primario
    font-weight: bold
  &--2
    color: $color-secundario
    font-weight: bold
  &--3
    color: $color-acento-contenido
    font-weight: bold
  &--4
    color: $color-acento-botones
    font-weight: bold
// Colores para span //
//-----------------------------------------------------------//